.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(119, 119, 126);
}
.form-header{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    outline: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    outline: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3aeae;
    color: rgb(0, 0, 0);
}

.submit-btn:hover{
    background-color: #333;
    color: #fff;
    border: 1px solid #ffffff;
    cursor: pointer;
}